src/main/resources/static/dist/* linguist-vendored
src/main/resources/static/port/* linguist-vendored
src/main/resources/static/vendor/* linguist-vendored
src/main/resources/static/daumeditor/* linguist-vendored