<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초 익히기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{person.name}} {{person.age}}<br>
        {{nextYear('안녕하세요')}}<br>
        <input v-bind:type="type" v-bind:value="inputData"><br>
        <a :href="getNaverLink('kossiecoder')">유튜브</a>        
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                person: {
                    name: '테스트',
                    age: 20
                },
                inputData: 'hello',
                type: 'text',
                link: 'https://www.youtube.com/'
            },
            methods: {
                getNaverLink(channel){
                    return this.link + channel;
                },
                nextYear(greeting) {
                    return greeting + '! ' + this.person.name + ' 는 내년에 ' + (this.person.age + 1) + '살 입니다.'
                },
                // nextYear: function(greeting) {
                //     return greeting + '! ' + this.person.name + ' 는 내년에 ' + (this.person.age + 1) + '살 입니다.'
                // },
                otherMethod: function(){
                    this.nextYear();
                    return
                }
            }
        })
    </script>
</body>
</html>