<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초 익히기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">        
        {{year}}<br>
        <button v-on:click="plus">더하기</button>
        <button v-on:click="minus">빼기</button>
        <form v-on:submit.prevent="submit">
            <input type="text"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
               year: 2018
            },
            methods: {
              plus(){
                this.year++;
              },
              minus(){
                this.year--;
              },
              submit(){
                //form submit은 페이지를 리로드한다. 이벤트 수식어로 제어 가능
                alert('submitted');
                console.log('hello');
              }
            }
        })
    </script>
</body>
</html>